# Root directory in which datasets are stored
export DATA_ROOT=
# Root directory for trained models
export MODEL_OUTPUT_ROOT=
# Root directory for results files
export RESULTS_ROOT=

# OpenRouter API key
export OPENROUTER_API_KEY=

# Directory containing geneval uv project
export GENEVAL_ROOT=
